<div class="background">


<%= form_for @as_member do |f| %>
  <%= render "devise/shared/error_messages", resource: @as_member %>


  <div class="field">
    <%= f.label :理想のバンド像 %><br />
    <%= f.text_area :what_band, placeholder: "理想のバンド像について書いてください", class:"box" %>
  </div>

  <div class="field">
    <%= f.label :上記のバンド像がなぜ理想か %>
    <%= f.text_area :why_band, placeholder: "上記バンド像が理想である理由を書いてください", class:"box" %>
  </div>

  <div class="field">
    <%= f.label :理想のメンバー像 %>
    <%= f.text_field :ideal_leader, placeholder: "理想のメンバー像を書いてください", class:"box" %>
  </div>

  <div class="field">
    <%= f.label :最もやりたいジャンル %>
    <%= f.collection_select(:do_genre_id, DoGenre.all, :id, :name, {}, {class:"do_genre-select box"}) %>
  </div>

  <div class="field">
    <%= f.label :演奏の指示 %>
    <%= f.collection_select(:ordered_style_id, OrderedStyle.all, :id, :name, {}, {class:"ordered_syle-select box"}) %>
  </div>

  <div class="field">
    <%= f.label :掛け持ち %>
    <%= f.collection_select(:want_belong_many_id, WantBelongMany.all, :id, :name, {}, {class:"want_belong_many-select box"}) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"registration-btn" %>
  </div>
<% end %>

<div class="actions">
    <%= form_with model: @user, url: new_user_registration_path, method: :get, local: true do |form| %>
      <%= form.submit "< Back", class:"back-btn" %>
    <% end %>
  </div>

</div>