<div class="background">

<%= render "rooms/shared/error_messages", resource: @room %>

  <div class="room-index-wrapper">
    <%= form_with(model: @room, url: rooms_path, local: true)do |f| %>
      <div class="room-index-field-top">
        <div><%= f.text_field :name, placeholder: "Room's Name", class:"room-index-box-top" %></div>
      </div>
      <div class="room-index-field-bottom">
        <div class="room-index-box-bottom">
          <select name="room[user_ids][]" >
            <div>
              <option value="">チャットするユーザーを選んでください></option>
              <% User.where.not(id: current_user.id).each do |user| %>
                <option value=<%= user.id %>><%= user.nickname %></option>
              <% end %>
            </div>
          </select>
        </div>
      </div>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%= f.submit "Create Room", class:"post-btn" %>
    <% end %>
  </div>

</div>