

<div>
<%= link_to 'ルーム名を変える', edit_room_path(@room) %>
<%= link_to 'ルームを削除する', room_path(@room), method: :delete %>
</div>
<div>ルーム名: <%= @room.name %></div>
<% @room.users.each do |user| %>
<div>参加者: <%= user.nickname %></div>
<% end %>

<%= form_with url: room_messages_path(@room), method: :post,id: "form" do |form| %>
  <%= form.text_field :content, id: "content" %>
  <%= form.submit '投稿する' ,id: "submit" %>
<% end %>
<div>
<%= link_to 'ルーム一覧に戻る', rooms_path %>
</div>