

<div class="background">
<%= link_to 'ルーム名を変える', edit_room_path(@room) %>
<%= link_to 'ルームを削除する', room_path(@room), method: :delete %>
<div>ルーム名: <%= @room.name %></div>
<% @room.users.each do |user| %>
<div>参加者: <%= user.nickname %></div>
<% end %>

<% if @messages %>
  <div class="messagesArea"><%= render partial: "messages/message", locals: { messages: @messages} %></div>
<% else %>
  <p>まだやり取りはありません</p>
<% end %>

<%= form_with(model: [@room, @message], url: room_messages_path(@room), method: :post, id: "form") do |form| %>
  <%= form.text_field :content, class: "inputMessage", id: "content" %>
  <%= form.submit '投稿する' ,id: "submit" %>
<% end %>
<div>
<%= link_to 'ルーム一覧に戻る', rooms_path %>
</div>