<div class="background">

<div class="recruitment-wrapper">

  <div class="recruitment-field">
    <div class="recruitment-list">タイトル</div>
    <div class="recruitment-box"><%= @post.title %></div>
  </div>

  <div class="recruitment-field-textarea">
    <div class="recruitment-list-textarea">内容</div>
    <div class="recruitment-box-textarea"><%= @post.introduction %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">仮バンド名</div>
    <div class="recruitment-box"><%= @post.band_name_idea %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">募集中のパート</div>
    <div class="recruitment-box"><%= @post.need_part.name %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">活動地域</div>
    <div class="recruitment-box"><%= @post.area_of_activity.name %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">演奏するジャンル</div>
    <div class="recruitment-box"><%= @post.genre.name %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">活動方針</div>
    <div class="recruitment-box"><%= @post.professional_or.name %></div>
  </div>

</div>

<div><%= link_to '編集画面に進む', edit_post_path(@post) %></div>
<div><%= link_to '投稿記事を削除する', post_path(@post), method: :delete %></div>
</div>