<div class="background">

<div class="recruitment-wrapper">

  <div class="recruitment-field">
    <div class="recruitment-list">タイトル</div>
    <div class="recruitment-box"><%= @post.title %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">投稿者</div>
    <div class="recruitment-box"><%= link_to "#{@post.user.nickname}", user_path(@post.user), class:"post-show-user-link" %></div>
  </div>

  <div class="recruitment-field-textarea">
    <div class="recruitment-list-textarea">内容</div>
    <div class="recruitment-box-textarea"><%= @post.introduction %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">仮バンド名</div>
    <div class="recruitment-box"><%= @post.band_name_idea %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">募集中のパート</div>
    <div class="recruitment-box"><%= @post.need_part.name %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">活動地域</div>
    <div class="recruitment-box"><%= @post.area_of_activity.name %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">演奏するジャンル</div>
    <div class="recruitment-box"><%= @post.genre.name %></div>
  </div>

  <div class="recruitment-field">
    <div class="recruitment-list">活動方針</div>
    <div class="recruitment-box"><%= @post.professional_or.name %></div>
  </div>

  
<% if user_signed_in? && @post.user_id == current_user.id %>
  <div class="post-show-bottom">
  <div><%= link_to 'Edit', edit_post_path(@post), class:"post-edit-btn" %></div>
  <div><%= link_to 'Delete', post_path(@post), method: :delete, class:"post-delete-btn" %></div>
  </div>
<% end %>

</div>

</div>