<%= link_to 'ユーザー一覧に戻る' ,posts_path %>

<div><%= @post.title %></div>
<div><%= @post.introduction %></div>
<div><%= @post.band_name_idea %></div>
<div><%= @post.need_part.name %></div>
<div><%= @post.area_of_activity.name %></div>
<div><%= @post.genre.name %></div>
<div><%= @post.professional_or.name %></div>

